body{
  margin: 0;
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.darkhorse--logo{
  margin: 5px 10px;
}
.company--name{
  color: #00008B;
  margin-right: 150px;
}
.nav--items{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 180px;
}
/* .active{
  color: #D6E5FA;
} */
.nav--list{
  margin: 0px 15px;
  /* color: #000; */
}
.drop--down{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  border: none;
  position: relative;
  display: inline-block;
}
.dropbtn {
  border: none;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  background-color: white;
}
.dropdown-content{
  /* display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.drop--down:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.text-warn{
  display: flex;
  flex-direction: column;
  
  
}
.overlay--text{
  background-color: #009EF7;
}
.text--sebi{

  font-weight:bold ;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 2px;
}

.tooltip {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 100px;
  margin-left: 650px;
 /* border-bottom: 1px dotted #00008B; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100vh;
  background-color: #00008B;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 20px 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.about--us{
  margin: 0;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.about{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 15px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #000;
  font-size:medium;
  background: #fff;
}
.about--logo{
  padding-top: 8px;
  /* padding: 10px; */
  opacity: 10%;
}
.intro{
  margin-left: 100px;
  max-width: 1100px;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 27.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  margin-left: 300px;
  left: 0;
  top: 0;
  height: 350px;
  width: 600px;
  position: absolute;
}
.container--vision {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  background-color: white;
 }
 .image--vision {
   width: 300px;
   height: 300px;
   margin-top: 25px;
   margin-left: 250px;
   margin-bottom: 25px;
   margin-right: 0;
 }
 .text--vision{
  margin-top: 0px;
  max-width: 500px;
  font-size: large;
  font-weight:500;
  margin-right: 250px;
 }
 .footer--container{
  background-color: #00008B;
 }
 .nav--list--op{
  opacity: 50%;
 }
 .address{
  margin-top: 0;
 }
 .footer--items{
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 100px;
 }
 .footcol--1{
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-decoration: none;
  margin: 15px 50px;
 }
 .footcol--2,.footcol--3{
  margin-top: 15px;
 }
 .footcol--2>a{
  display: flex;
  color: white;
  text-decoration: none;
  flex-direction: column;
  margin: 15px 50px;
 }
 .footcol--3>a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin: 15px 50px;
 }
 .footcol--4{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 15px 50px;
 }
 .socials{
  list-style: none;
  display: flex;
  padding-inline-start: 0;
}
.socials li{
  margin: 0px 10px;
}
.socials a{
  text-decoration: none;
  border: 1.1px solid white;
  padding: 9px 5px 4px 5px;
  border-radius: 50%;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i{
  color: rgb(76, 85, 209);
}
.email{
  margin-top: 5px;
}
.item--1{
  max-width: 320px;
  max-height: 80px;
  background-color: #009EF7;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-block: 15px;
  line-height: 15px;
  margin-top: 15px;
  margin-left: 40px;
  font-weight: lighter;
}
.item--1>p{
  color: white;
}
.container--box{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 200px;
  margin-bottom: 35px;
}
featured-post {
  margin-top: 50px;

}

.section-title {
  margin-bottom: 30px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.post:nth-child(even) {
  flex-direction: row-reverse;
}
.post-img {
  flex: 1;
  margin-right: 30px;
}

.post-img img {
  width: 500px;
  height: 330px;
}

.post-content {
  flex: 2;
}

.post-title {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}
.link--blog{
  text-decoration: none;
}

.post-meta {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.post-summary {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #009EF7;
  color: black;
}
.blog--posts{
  margin-top: 50px;
  margin-inline: 50px;
}
.post--div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 25px;
}

.hashtag{
  color: #009EF7;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: small;
}
.blog--date{
  color: #009EF7;
  margin-block: 15px;
  font-size: small;
}
.blog--title{
  margin-block: 5px;
  font-size:xx-large;
}
.blog--img{
  height: 350px;
  width: 700px;
}
.blog--paragraph{
  margin-inline: 200px;
  font-size:large;
  text-align: justify;
}
.Explore--blogs{
  margin-left: 200px;
  margin-top: 50px;
}
.explore--card{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-bottom: 50px;
}
.explore--img{
  height: 150px;
  width: 200px;
  border: 1px solid black;
}
.cards{
  margin-inline: 35px;
}
.title-explore{
  max-width: 200px;
  
}
.link--explore{
  text-decoration: none;
  color: inherit;
}
.products--desc{
  text-align: justify;
}
.image--funda{
  height: 350px;
  width: 500px;
  margin-left: 150px;
}
.container--funda {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  background-color: white;
  margin-bottom: 25px;
 }
 .text--funda{
  margin-top: 0px;
  max-width: 500px;
  font-size: large;
  font-weight:200;
  margin-right: 200px;
 }
 .hashtag--funda{
  color: #009EF7;
  margin-top: 35px;
  font-size: small;
}
.item--mid{
  max-width: 320px;
  max-height: 80px;
  background-color: #009EF7;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-block: 5px;
  line-height: 15px;
  margin-top: 55px;
  margin-left: 40px;
  font-weight: lighter;
}
.item--mid>h3{
  margin-top: 30px;
}
.image--dashboard{
  height: 350px;
  width: 500px;
  margin-left: 140px;
  margin-right: 20px;
  margin-top: 35px;
}
.item--2{
  max-width: 320px;
  max-height: 80px;
  background-color: #009EF7;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-block: 5px;
  line-height: 15px;
  margin-top: 15px;
  margin-left: 40px;
  font-weight: lighter;
}
.item--2>p{
  color: white;
}
.subscribe--btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-left: 250px;
}

.subscribe--btn-primary {
  background-color: #009EF7;
  color: white;
}
.subscribe--title{
  font-size: 40px;
  margin-left: 100px;
  padding-top: 35px;
  margin-left: 250px;
}
.subscribe--row{
  display: flex;
  flex-direction: row;
}
.subscribe--para{
  margin-left: 250px;
  max-width: 250px;
  font-size: larger;
}
.subscribe--free{
  margin-left: 150px;
  color: #000;
  background-color: white;
  font-size: 25px;
  padding-right: 100px;
  padding-block: 10px;
  padding-left: 15px;
}
.subscribe--card{
  padding-bottom: 50px;
  margin-top: -25px;
  background-image: linear-gradient(to bottom right, white, rgb(216, 251, 255), skyblue);
}
.subscribe--btn2 {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-left: 250px;
}

.subscribe--btn-primary2 {
  background-color: #009EF7;
  color: white;
}
.subscribe--free2{
  margin-left: 250px;
  color: #000;
  background-color: white;
  font-size: 25px;
  padding-left: 150px;
  padding-block: 10px;
  margin-top: 150px;
  padding-right: 5px;
}
.subscribe--title2{
  font-size: 40px;
  padding-top: 35px;
  margin-left: 200px;
}
.subscribe--row{
  display: flex;
  flex-direction: row;
}
.subscribe--para2{
  margin-left: 200px;
  max-width: 300px;
  font-size: larger;
}
.subscribe--card2{
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom right, skyblue, rgb(216, 251, 255), white);
}
.container-signup{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin:100px 400px;
  height: 350px;
  width: 550px;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.signup-form{
  padding: 5px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
}
.form-title{
  padding-top: 15px;
  padding-left: 35px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  max-width: 300px;
  padding-bottom: 0.5rem;
  margin-left: 15px;
}
.form-group>input{
  border: none;
  padding-left: 15px;
  outline: none;
  background-color: white;
}
.form-submit{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}
.form-submit:hover{
  background-color: #00008B;
}
.signup-image{
  margin-left: 50px;
}
.signup-image>figure>img{
  height: 150px;
  width: 150px;
}
.signup-image-link{
  margin-left: 30px;
}
.container-signin{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin:100px 400px;
  height: 250px;
  width: 550px;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.signin-image{
  margin-left: 50px;
  margin-top: -50px;
}
.signin-image>figure>img{
  height: 130px;
  width: 130px;
}
.signin-image-link{
  margin-left: 50px;
}
.notfound-404{
  display: flex;
  flex-direction: column;
  margin-left: 550px;
  margin-top: 100px;
}
.notfound-404>h1{
  margin-left: 45px;
  font-size: 100px;
  color: #999;
}
.notfound-404>h2{
  margin-left: 45px;
  margin-top: -55px;
}
.privacy--policy{
  text-align: center;
  overflow-x: hidden;
}
.privacy--div {
  max-width: 800px;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: justify;
}

#faq-page {
  margin-top: 2rem;
  margin-inline: 150px;
}
.faq{
  text-align: center;
}
.accordion-container {
  margin: 25px auto;
  font-weight: 400;
  background: #fff;
}
.title-container {
  cursor: pointer;
}
.title {
  /* background-color: rgba(0,0,0,.55); */
  background-color: #009EF7;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  font-weight: lighter;
  position: relative;
  padding: 10px 30px 10px 10px;
  z-index: 2;
  border-radius: 4px;
  margin-top: 2px;
  transition: all .2s ease-in;
}
.arrow-wrapper {
  position: absolute;
  right: 20px;
}
.fa-angle-up:before {
  content: "\f106" !important;
}
.fa-angle-down:before {
  content: "\f107" !important;
}
  .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
  }
  .content.active {
  max-height: 500px;
  transition: max-height .3s ease-in;
  }
  .content-text {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  border-radius: 0 0 4px 4px;
  background-color: #fefefe;
  }